<% provide(:title, "Pertanyaan") %>
<h3>Pertanyaan yang sering muncul</h3>
<ol>
	<li><b> Apakah jenis pengiriman yang di dukung AB OnlineShop?</b>
			<ol>Pengiriman yang di dukung yaitu pengiriman dengan go jek by go send</ol>
	</li>
	<li><b> Daerah mana saja yang bisa menggunakan jasa pengiriman dengan go jek by go send untuk membeli produk di AB OnlineShop?</b>
			<ol>Untuk daerah yang di dukung adalah wilayah Jakarta, Bogor, Tangerang, Bekasi, Depok (JABODETABEK)</ol>
	</li>
	<li><b>
		Saya ingin membeli produk di AB OnlineShop tapi tidak ada daftarnya di website ini bagaimana?</b>
		<ol> Silahkan request produk yang di ingikan bisa melihat produk lengkap kami dahulu di tokopedia kemudian kami akan upload ke website resmi kami</ol>
	</li>
	<li><b>
		Bagaimana cara bertransaksi di AB OnlineShop</b>
		<ol>
			Untuk bertransaksi atau membeli barang di AB OnlineShop bisa di ikuti langkah langkah sebagai berikut:
			<li>Daftar/Signup terlebih dahulu dengan cara klik link <%= link_to "Daftar", new_user_path, class: "btn btn-danger" %> di pojok atas website kami, jika sudah punya akun silahkan klik <%= link_to "Masuk", login_path, class: "btn btn-success" %> tidak perlu mendaftar lagi</li>
			<li>Silahkan pilih barang yang di inginkan kemudian klik Tambah ke Keranjang</li>
			<li>Barang yang sudah di masukkan ke keranjang akan muncul di simbol keranjang</li>
			<li>Klik tombol Lanjut pengiriman untuk melanjutkan atau klik kosongkan keranjang jika ingin mengosongkan keranjang</li>
			<li>Selanjutnya akan ada data pengisian untuk pengiriman barang, silahkan di isi data ini dengan lengkap,<u><b>pengisian alamat harus mencakup nama provinsi, kota/kabupaten, kecamatan/kelurahan, nama jalan, nomor rumah serta kode pos</b></u></li>
			<li>Jika alamat pengiriman sudah lengkap silahkan klik Selesaikan Transaksi</li>
			<li>Sistem kami akan mengirimkan tagihan ke alamat email anda, tagihan mencakup total keseluruhan yang harus di bayar yaitu harga produk dan ongkos kirim dengan gojek (Rp 15.000)</li>
			<li>Silahkan lakukan pelunasan ke rekening kami yang sudah tertera di email tagihan</li>
			<li>Setelah melakukan pelunasan silakan kofirmasi ke alamat email kami musaabdillahm9@gmail.com atau sms ke nomor 0858 8371 8464</li>
			<li>Konfirmasi kami terima barang akan kami siapkan untuk segera di kirim </li>

		</ol>
	</li>
	<li><b>
		Rekening apa saja yang di dukung untuk pelunasan transaksi/pelunasan pesanan?</b>
		<ol>Rekening kami ada dua yaitu </ol>
		<ol>Bank Negara Indonesia(BNI) <img src="https://image.cermati.com/v1437625814/personal-loan/wyjsacozmdfid1qc9dwb.jpg" class="img-rounded" alt="BNI" width="75" height="25"> </ol>
		<ol>Bank Mandiri <img src="https://pendaftaran.budiluhur.ac.id/img/thumbs/mandirilogo.jpg" class="img-rounded" alt="Mandiri" width="75" height="25"> </ol>
	</li>
	<li><b>
		Dalam data pengiriman saya harus mengisi Pilih cara pembayaran itu bagaimana maksudnya?</b>
		<ol> Kami memiliki dua jenis rekening yaitu Bank Negara Indonesia(BNI) dan Bank Mandiri, silahkan pilih akan di kirim ke mana pelunasan transaki yang di buat.</ol>
	</li>
</ol>