<h1> Dear <%= @order.name %></h1><br />

<h3>Thank you for your recent order from The Pragmatic Store.</h3><br />

<h3>You ordered the following items:</h3><br />

<h3><%= render @order.line_items -%> </h3><br />

<p>We'll send you a separate e-mail when your order ships.</p><br />
