<ul class="nav nav-pills nav-stacked">
	<li><%= link_to user_path(@user) do %>
		<i class="fa fa-home fa-fw"></i> Profil
		<% end %>
	</li>
	<li> <%= link_to history_user_path(@user) do %> 
			<i class="fa fa-list-alt fa-fw"></i> Catatan Pembelian
		<% end %>
	</li>
</ul>