<table class="table table-bordered">
	<thead>
		<tr>
			<th> Name </th>
			<th> Address </th>
			<th> Email </th>
			<th> Pay Type </th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td> <%= @order.name %> </td>
			<td> <%= @order.address %> </td>
			<td> <%= @order.email %> </td>
			<td> <%= @order.pay_type %> </td>
		</tr>
	</tbody>
</table>
