<% provide(:title, "Ubah Kategori") %>
<div class="col-md-6 col-md-offset-3">
	<h3> Ubah Kategori Produk </h3>
	<%= simple_form_for(@category) do |f| %>
			<%= f.input :title, label: "Nama Kategori", placeholder: "Nama Kategori " %>
			<%= f.button :submit, 'Ubah Kategori',:class => "btn btn-success" %>
	<% end %>
</div>
