<% provide(:title, "kategori Produk") %>
<div class="container-fluid">
<div class="col-sm-12 col-md-3">
    <%= render 'admin/show_navbar' %>
</div>
<div class="col-xs-12 col-sm-12 col-md-9">
<h3> Daftar Semuan Kateogri Produk</h3>
<% if @categories.any? %>
<div class="table-responsive">
	<table class="table table-striped">
	<thead>
		<tr>
			<th>Nama Kategori</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @categories.each do |category| %>
		<tr>
			<td>
				<%= category.title %>
			</td>
			<td>
				<%= link_to edit_category_path(category), class: "btn btn-warning btn-sm" do %>
		            <i class="glyphicon glyphicon-pencil"></i>			
				<% end %>
			</td>
		</tr>
		<% end %>
	</tbody>
	</table>
</div>
<% else %>
	<table class="table table-striped">
	<tr>
		<td>
			<h3> Belum ada kategori</h3>
		</td>
	</tr>
</table>
<% end %>
<%= link_to "Tambah kategori Produk", new_category_path, class: "btn btn-success" %>
</div>
</div>