<% provide(:title, "Tambah Kategori") %>
<div class="container-fluid">
<div class="col-sm-12 col-md-3">
    <%= render 'admin/show_navbar' %>
</div>
<div class="col-sm-12 col-md-9">
	<h3> Tambah Kategori Produk </h3>
	<%= simple_form_for(@category) do |f| %>
			<%= f.input :title, label:"Nama Kategori", placeholder: "Nama Kategori" %>
			<%= f.button :submit,'Tambah Kategori', :class => "btn btn-success" %>
	<% end %>
</div>
</div>
