<% provide(:title, "Product Detail") %>
<table class="table table-stripped">
	<tbody>
		<tr>
			<td>
				<img src="<%= @product.image_url %>" class="img-rounded" alt="Cinque Terre" width="304" height="236"> 	
			</td>
			<td>
				<h3>
					<span class="label label-success">
					Rp <%= number_with_delimiter(@product.price) %>
				</span>
				</h3>
			</td>
		</tr>
		<tr>
			<td colspan="2"><h3><%= @product.title %></h3></td>
		</tr>
		<tr>
			<td colspan="2"><%= simple_format(@product.description) %></td>
		</tr>
	</tbody>
</table>


