<% if line_item == @current_item %>
	<tr id="current_item">
<% else %>
<tr>
<% end %>
	<td> <%= line_item.quantity %>&times; </td>
	<td> <%= (line_item.product.title).truncate_words(4) %> </td>
	<td class="item_price"> Rp <%= number_with_delimiter(line_item.total_price) %> </td>
</tr>