<div class="container-fluid">
<div class="col-sm-12 col-md-12">				
	<h1><u> <%= @category.title %> </u> </h1>
		<div class="row">
			<% @products.each do |p| %>
			<div class="col-sm-12 col-md-2" style="padding: 5px;">
				<div class="card" style="height: 250px; width: 200px; ">
				  <%= link_to (image_tag p.image_url, height: 180, width: 200, class: "card-img-top"), product_path(p) %>
				  <div class="card-block">
				    <p class="card-title" style="text-align: center; font-weight: bold;"><%= link_to p.title, product_path(p) %></p>
				  </div>
				</div>
			</div>
			<% end %>
		</div>
</div>
</div>