<footer class="footer">
	<small>
		&copy AB OnlineShop 2017 
	</small>
	<ul>
		<li> <a href="#"> <%= t('.questions') %> </a> </li>
		<li> <a href="#"> <%= t('.news') %> </a> </li>
		<li> <a href="#"> <%= t('.contact') %> </a> </li>
	</ul>
</footer>